# 邮箱配置
EMAIL_SENDER=yourmail@company.com
EMAIL_PASSWORD=yourpassword
EMAIL_SMTP_HOST=smtp.larksuite.com
EMAIL_SMTP_PORT=465
EMAIL_RECEIVERS=yourmail@company.com
EMAIL_CC=

# sink数据库
DB_HOST=localhost
DB_PORT=3306
DB_USER=db_user
DB_PASSWORD=db_password
DB_DATABASE=sink

# gmp_game_platform数据库
GMP_DB_HOST=localhost
GMP_DB_PORT=3306
GMP_DB_USER=db_user
GMP_DB_PASSWORD=db_password
GMP_DB_DATABASE=gmp_game_platform

# merchant数据库
MERCHANT_DB_HOST=localhost
MERCHANT_DB_PORT=3306
MERCHANT_DB_USER=db_user
MERCHANT_DB_PASSWORD=db_password
MERCHANT_DB_DATABASE=merchant 